header{
	background: #89908D;
	color: #060100;
}
footer{
	background: #89908D;
	color: green;
	text-align: center;

}
.conversacion{
	width: 100%;
	height: 500px;
	background-color:#BFCDEE;
	overflow: scroll;
}